<!-- <<p>
  homedetail1 works!
</p> -->
<div class="renwu" [routerLink]="['/home/work/unwork']"><img src="assets/images/7.png">未提交</div>
<div class="renwu" [routerLink]="['/home/work/finished']"><img src="assets/images/8.png">已完成</div>
<div class="renwu" [routerLink]="['/home/work/wanjie']"><img src="assets/images/9.png">已完结</div>
<!-- <div class="fenge"><hr/></div> -->
<div class="sousuo"><input style="height:25px;" type="text" value="输入同步课课程搜索">
<button style="height:30px;">搜索</button></div>
<div class="qingkuang">
    <!-- <img src="assets/images/11.png">
   <p> 您当前的同步课任务已全部完成~</p> -->
   <router-outlet></router-outlet>
</div>