<!-- <p>
  tongbuke works!
</p>
<h2>{{courseId}}</h2>
<button (click)="go()">跳转社区</button> -->
<div class="container">
  <ul>
    <li *ngFor='let course of courses;'>
      <a [routerLink]="['/tongbuke',course.id]">
      <img src="{{course.images}}">
      <h3>{{course.courseName}}</h3>
      <div style="margin-bottom:15px;">
        <span><img src="assets/images/5.png"></span>
        <span>{{course?.task}}</span>
        <span><img src="assets/images/6.png"></span>
        <span>{{course?.person}}</span>
        <button class="but">+申请</button>
      </div>
    </a>
    </li>
  </ul>
</div>
