page-sousuo {
    ion-header{
        height:50px;
        background-color:ghostwhite;
            input{
                background-color:whitesmoke;
                color:gray;
                width:70%;
                height:50%;
                margin-top:3%;
                margin-left:5%;
            }
        .qvxiao{
            float:right;
            margin-top:3%;
            margin-right:5%;
            color:gray;
            font-size:16px;
        }
    }
    ion-content{
        p{
            margin:20px;
            color:gray;
           
        }
        span{
            padding:5px;
           line-height:40px;
            color:gray;
            border:1px solid gray;
            margin-right:10px;
            margin-top:10px;
        }
    }
}
