page-denglu {
    ion-content{
    background:url(../assets/imgs/18.png);
    background-size:cover;
    .biaoti{
        color:white;
        margin-top:15%;
        text-align:center;
        margin-bottom:20%;
    }
    .denglu{
        width:80%;
        height:10%; 
        margin-left:10%;
        margin-bottom:10px;
        border:1px solid gainsboro;
        ion-icon{
            color:gainsboro;
            font-size:30px;
            margin-top:4%;
            margin-left:2%;
        }
        input{
            margin-top:4%;
            border:none;
            font-size:16px;
           margin-left:10%;
            color:gainsboro;
            background-color:transparent;
        }
    }
    .btn{
        width:80%;
        margin-left:10%;
        margin-top:10%;
    }
    }
    ion-footer{
        color:white;
        span{
            float:right;
        }
    }
}
