.container{
    /* border:1px solid black; */
    margin-top:30px;
    margin-left:150px;
    width:1100px;
}
.left{
    float:left
}
.container ul li{
    width:700px;
    height:150px;
    margin:30px;
    /* border:1px solid black; */
}
/* container ul li a{
    border:1px solid black;
    width:500px;
} */
.container ul li img{
    width:150px;
    height:100px;
}
.top span{
    position:relative;
    bottom:100px;
   left:150px;
}
.top span p{
    width:500px;
    height:50px;
    margin-left:15px;
}
.top span p img{
    width:20px;
    height:20px;
}
.bottom{
    position:relative;
    bottom:80px;
    color:gray;
}
.bottom span{
float:right;
margin-left:20px;
}
.right{
    float:left;
    width:200px;
    height:400px;
    margin-top:30px;
}
.right p{
     /* margin-left:50px;  */
     font-size:14px;
     color:gray;
     margin-bottom:10px;
}
.right p span{
    float:right;
}