<!-- <p>
  home works!
</p> -->
<div class="home">
  <div class="left">
  <div class="left1"><img src="assets/images/3.png"></div>
  <div class="left1">
    <ul class="nav">
    <li><a [routerLink]="['/home/work']"> <img src="assets/images/32.png"> 任务 </a> </li>
    <li><a [routerLink]="['/home/tongbuke2']"> <img src="assets/images/33.png"> 同步课 </a> </li>
    <li><a [routerLink]="['/home/course2']"> <img src="assets/images/34.png"> 课程</a></li>
    <li><a [routerLink]="['/home/qieshuo']" > <img src="assets/images/35.png"> 且说 </a></li>
    <li><a [routerLink]="['/home/tongzhi']" > <img src="assets/images/36.png"> 通知 </a></li>
  </ul>
  </div>
</div>
  <div class="right">
    <router-outlet></router-outlet>
  </div>
</div>
