page-shezhi {
    ion-content{
      
        background-color:gainsboro!important;
           
        .box{
            
                margin-top:10px;
                button{
                    margin-top:50px;
                }
                 ion-item{
                     height:70px;
                     span{
                         float:right;
                         color:gray;
                     }
                     ion-icon{
                         margin-right:10px;
                     }
                 }
            
            
        }
    }
}
