.kecheng{
    margin:30px;
    font-size:14px;
   float:left;
   margin-top:20px;
   cursor:pointer;
}
.fenge3{
    position:relative;
    top: 50px;
    right:400px;
    width:1000px;
}
.content{
    position:relative;
    top:200px;
    right:150px;
}
