page-about {
    ion-content{
        input{
            color:gray;
            width:80%;
            height:40px;
            margin-left:10%;
            margin-top:5%;
            margin-bottom:5%;
            background:whitesmoke;
            text-align:center;
        }
        .daohang{
            padding-left: 0!important;
            margin: 0;
            height: 44px;
            line-height: 44px;
            .first{
                // border-bottom:3px solid #ffdb2c;
                background:#ffdb2c;
            }
            li{
                height: 44px;
                text-align: center;
                float: left;
                width: 20%;
                list-style-type:none;
            }
            
        }
        .shafa{
            letter-spacing:10px;
            height:30px;
            
         }
    }
}
